---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Class 1

# Working With Text

- **Usefull Word Comparison Functions**
    - `s.startswith(t)`
    - `s.endswith(t)`
    - `t in s`
    - `s.isupper()`, `s.islower()`, `s.istitle()`
    - `s.isalpha()`, `s.isdigit()`, `s.isalnum()`
  
  
  
- **Usefull String Operations: **
    - `s.lower()`, `s.upper()`, `s.titlecase()`
    - `s.split(t)`
    - `s.splitlines()`
    - `s.join(t)`
    - `s.strip()`, `s.rstrip()` ----> **Note**: *r in rstrip stands for rear, meaning, remove space in the end of* string*
    - `s.find(t)`, `s.rfind(t)` ----> **Note**: *r in rfind stands for rear, meaning, find 't' in the end of string*

### Regex Meta - Characters

#### Character Matches

- **`Â·`** --> Wildcard, matches a single character


- **`^`** --> Look for the match at the beginning of the string


- **`[ ]`** --> Matches one of the set of the characters within the square brackets [ ]


- **`[a-z]`** --> Matches one of the lowercase characters in the range through *a,b,c,d,...,z*


- **`[A-Z]`** --> Matches one of the uppercase characters in the range through *a,b,c,d,...,z*


- **`[^abc]`** --> Matches one character within the square brackets, in this case do not include *a, b* nor *c*


- **`a|b`** --> Matches either *a* or *b*, where *a* and *b* are strings


- **`\`** --> Escape character for special characters (\t, \n, \b, ...) 


- **`( )`** --> Scoping for operators, from the string pattern extracted, the first group named `group(0)` is the whole match, but if we only want to return a specific segment of the string, we have to wrap it within parenthesis, in this case this will become the second group dennoted by `group(1)`, and it we continue to wrap part of the string extracted from left to right, it will continue to increase the amount of text that is grouped, having the very last group been dennoted by `group(n-1)` with *n* represents the total number of strings framgments in parenthesis `( )`, and counting the base case that is the initial string extracted using regex, that it's dennoted by `group(0)`


#### Character Symbols

- **`\b`** --> Matches word boundary


- **`\d`** --> Matches any (1) digit, equivalent to `[0-9]`


- **`\D`** --> Matches any (1) non-digit, equivalent to `[^0-9]`


- **`\s`** --> Matches any (1) whitespacing, equivalent to `[ \t\n\r\f\v]`


- **`\S`** --> Matches any (1) non-whitespacing, equivalent to `[^ \t\n\r\f\v]`


- **`\w`** --> Matches any (1) alphanumeric character, equivalent to `[a-zA-Z0-9_]`


- **`\W`** --> Matches any (1) non-alphanumeric character, equivalent to `[^a-zA-Z0-9_]`


#### Repetitions

- **`*`** --> Matches zero or more ocurrences, example of use: `[0-9]*` 


- **`+`** --> Matches one or more ocurrences, example of use: `[a-z]+` 


- **`?`** --> Matches zero or at most one ocurrence, example of use: `[0-9]?` 


- **`{n}`** --> Match exactly *n* repetitions, example of use: `\d{3}`


- **`{n,}`** --> Match at least *n* repetitions, example of use: `\d{2,}`


- **`{,n}`** --> Match at most *n* repetitions, example of use: `\d{,5}`


- **`{m,n}`** --> Match at leat *m* repetitions and at most *n* repetitions, example of use: `\d{2,5}`

### Regex - Applied to Dates

#### Example - Different Ways to Use Regex to Locate and Work With Dates

Dates Format Examples (different dates format within a single text stored in the variable string):
- *23 Oct 2002*
- *23 October 2002*
- *Oct 23, 2002*
- *October 23, 2002*


Regex is a process where after each iteration the search is refined and tailored with the objective of retreaving all the strings, dates, or whatever is been looked for using regex within a text.


---


- **1st Iteration** - `re.findall(r"\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}", string)`

    - **Regex expression explanation** - *First search for 2 digits that represents the month, then look for a space and find all of the possible months using the pipe character, then look for another space and finnaly search for the year in the format of 4 digits*


This regex pattern returns: **`['Oct']`**

    - This is because of the `( )` used in the regex expression, even though a bigger match is located, because the months are within the parenthesis, that is the only match that returns, this represents the `group(1)`


---


- **2nd Iteration** - `re.findall(r"\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}", string)`

    - **Regex expression explanation** - *First search for 2 digits that represents the month, then look for a space and find all of the possible months using the pipe character, then look for another space and finnaly search for the year in the format of 4 digits*

This regex pattern returns: **`['23 Oct 2002']`**

    - This is because of the `(?: ... )` used in the regex expression before the months names


---

- **3rd Iteration** - `re.findall(r"\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* \d{4}", string)`

    - **Regex expression explanation** - *First search for 2 digits that represents the month, then look for a space and find all of the possible months using the pipe character and search for the rest of the lowercase character after the months first 3 letters, then look for another space and finnaly search for the year in the format of 4 digits*
    

This regex pattern returns: **`['23 Oct 2002', '23 October 2002']`**

    - This is because of the `[a-z]*` at the end of the months name expression

---

- **4th Iteration** - `re.findall(r"\(?:d{2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:d{2}, )?\d{4}", string)`

    - **Regex expression explanation** - *First search for 2 digits that represents the month, but this value is optional, it maybe there or it may not be there including a space buy applying the `?` sign at the end of the expression, then look for all of the possible months using the pipe character and search for the rest of the lowercase character after the months first 3 letters, after the month name this one is optional as well as the first month number (this helps to accept both months where the month is in front or in the back), then look for another space and finnaly search for the year in the format of 4 digits*
    

This regex pattern returns:  **`['23 Oct 2002', '23 October 2002', 'Oct 23, 2002', 'October 23, 2002']`**

    - This is because of the `(?: ...)?` at the end of the months number expression


---

- **5th Iteration** - `re.findall(r"\(?:d{1,2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:d{1,2}, )?\d{4}", string)`

    - **Regex expression explanation** - *First search for 2 digits that represents the month, but this value is optional, it maybe there or it may not be there including a space buy applying the `?` sign at the end of the expression, then look for all of the possible months using the pipe character and search for the rest of the lowercase character after the months first 3 letters, after the month name this one is optional as well as the first month number (this helps to accept both months where the month is in front or in the back), then look for another space and finnaly search for the year in the format of 4 digits, **the advantage of this solution is that it accepts that the month number written with 1 or 2 digits***
    

This regex pattern returns: **`['23 Oct 2002', '23 October 2002', 'Oct 23, 2002', 'October 23, 2002']`**

    - This is because of the `(?: ...)?` at the end of the months number expression

---

In [1]:
text1 = "Ethics are built right into the ideals and objectives of the United Nations "

len(text1) # The length of text1

76

In [ ]:
text2 = text1.split(' ') # Return a list of the words in text2, separating by ' '.

len(text2)

In [ ]:
text2

#### Question 1 - Extract the Hashtags from the tweet

In [ ]:
# Answer

import re

tweet = "@nltk Text analysis is awesome! #regex #pandas #python"

pattern = "[\#]+\S+"

re.findall(pattern=pattern, string=tweet)

In [ ]:
# Solution

tweet = "@nltk Text analysis is awesome! #regex #pandas #python"

print([word for word in tweet.split() if word.startswith('#')])

<br>
List comprehension allows us to find specific words:

In [ ]:
[w for w in text2 if len(w) > 3] # Words that are greater than 3 letters long in text2

In [ ]:
[w for w in text2 if w.istitle()] # Capitalized words in text2

In [ ]:
[w for w in text2 if w.endswith('s')] # Words in text2 that end in 's'

<br>
We can find unique words using `set()`.

In [ ]:
text3 = 'To be or not to be'
text4 = text3.split(' ')

len(text4)

In [ ]:
len(set(text4))

In [ ]:
set(text4)

In [ ]:
len(set([w.lower() for w in text4])) # .lower converts the string to lowercase.

In [ ]:
set([w.lower() for w in text4])

### Processing free-text

In [ ]:
text5 = '"Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'
text6 = text5.split(' ')

text6

<br>
Finding hastags:

In [ ]:
[w for w in text6 if w.startswith('#')]

<br>
Finding callouts:

In [ ]:
[w for w in text6 if w.startswith('@')]

In [ ]:
text7 = '@UN @UN_Women "Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'
text8 = text7.split(' ')

<br>

We can use regular expressions to help us with more complex parsing. 

For example `'@[A-Za-z0-9_]+'` will return all words that: 
* start with `'@'` and are followed by at least one: 
* capital letter (`'A-Z'`)
* lowercase letter (`'a-z'`) 
* number (`'0-9'`)
* or underscore (`'_'`)

In [ ]:
import re # import re - a module that provides support for regular expressions

[w for w in text8 if re.search('@[A-Za-z0-9_]+', w)]

---

# Class 2

# Working with Text Data in pandas

In [2]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [3]:
# find the number of characters for each string in df['text']
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [4]:
# find the number of tokens for each string in df['text']
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [5]:
# find which entries contain the word 'appointment'
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [6]:
# find how many times a digit occurs in each string
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [7]:
# group and find the hours and minutes
df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [8]:
# replace weekdays with '???'
df['text'].str.replace(r'\w+day\b', '???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [9]:
# replace weekdays with 3 letter abbrevations
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [10]:
# create new columns from first match of extracted groups
df['text'].str.extract(r'(\d?\d):(\d\d)')

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [11]:
# extract the entire time, the hours, the minutes, and the period
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [12]:
# extract the entire time, the hours, the minutes, and the period with group names
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am